/* Hover */

// a:hover{
//     position: relative;
//   }
  
//   a:hover::after {
//     content: 'ùáá'; /* Unicode character for a downward-pointing triangle */
//     position: absolute;
//     bottom: -10px; /* Adjust the position as needed */
//     left: 50%; /* Center the character */
//     transform: translateX(-50%); /* Center the character horizontally */
//   }


/* Blur */

.blur{
    z-index: 100;
    height: 100vh;
    filter: blur(8px);
    transition: ease-in-out .4s;
    pointer-events: none;
    overflow-x: hidden;
    // transform: scale(1.1); 
}

.blur::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 25px;
    backdrop-filter: blur(8px); /* apply the blur */
    pointer-events: none; /* make the overlay click-through */
}

.blur::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 25px;
    backdrop-filter: blur(8px); /* apply the blur */
    pointer-events: none; /* make the overlay click-through */
}

.blur-out{
    filter: blur(0px);
    transition: ease-in-out .6s;
}