/**
 *  Resonance Custom Colour Codes
 */

// Background Colours (Primary)

$pine: #467061;
$eggshell: #FAF6ED;

// Typography

$forest: #003300;
$shadow: #2A2925;
$eggshell: #FAF6ED;

// Bin (Theme Colours)

$eggshell: #FAF6ED;
$concrete: #BEBAB3;
$sunlight: #E2D45E;
$pine: #467061;
$shadow: #2A2925;