.credits{

    grid-column: 1/13;
    width: 100%;
    text-align: center;

    .site-credits__copyright,
    .site-credits__separator,
    .site-credits__links
    {
        flex: 1;
        justify-content: space-between;
    };
}