.home-icon{
    padding: 0 0 0 25px;
}

.toggle{
    display: inline-block;
    padding: 0 25px 0 25px;


}

.social-icons{    
    width: fit-content;
}

.youtube-footer-icon{
    grid-column: 5;
}
i.instagram-footer-icon{
    grid-column: 6;
}
i.twitter-footer-icon{
    grid-column: 7;
}
i.tiktok-footer-icon{
    grid-column: 8;
}
