
dialog#modal-menu{

    font-family: 'Gothic A1', sans-serif;
    display: none;
    z-index: 9999;
    // background: transparent;
    position: absolute;
    left: 0; 
    right: 0; 
    top: 35vh;
    margin-left: auto; 
    margin-right: auto; 
    width: 350px;
}

dialog#modal-menu {
    // display: none;
    // vertical-align: middle;
    // position: absolute; /* Stay in place */
    // z-index: 1; /* Sit on top */
    // left: 0;
    // top: 50%;
    // width: 100%; /* Full width */
    // height: 100%; /* Full height */
    // overflow: auto; /* Enable scroll if needed */

    // visibility: hidden;

    mobile-menu{
        display: grid;
        place-items: center;
        align-items: center;
        vertical-align: middle;
        font-family: 'Gothic A1', sans-serif;
    }
}ß


ul#mobile-menu{
    font-family: 'Gothic A1', sans-serif;
    display: flex;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 33vh;
    width: 100%;
    margin: 30px 0 0 0;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;

    height: 100%;

li.menu-item{
    position: relative;
    font-family: 'Gothic A1', sans-serif;
    font-size: x-large;
    gap: .75rem;
    
    a{
        text-decoration: none;
        font-size: 1.5rem;
    }
    a:active{
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 800;
    }
}

}