.body-text{
    font-family: 'Courier Prime', monospace;
    font-size: small;
    line-height: 14px;
}

.body-text-alt{
    font-family: 'Courier Prime', monospace;
    font-size: x-small;
    line-height: 14px;
}
