@use "sass:math";
@use "breakpoints" as *;

// Base Layout

.grid{
    display: grid;
    gap: var(--gap, 1rem);
    margin: 0 auto;
    overflow: hidden;
    grid-template-columns: repeat(12, minmax(1rem, 1fr));
    grid-auto-rows: auto;

    .hero__heading{
        grid-column: 2 / 12;
        grid-row: 2;
        z-index: 100;
        // transform: translateY(8rem);
    }

    .hero__subheading{
        grid-column: 2 / 12;
        grid-row: 3;
    }

    .hero__thumbnail{
        grid-column: 1 / 13;
        grid-row: 1;
    }



}

.thumbnail > img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}