@use "../layout/breakpoints" as *;

#home-content{

    .post-list-container{
        background-color: aqua;
    }

    .post-list-heading{
        grid-column: 5/12;
        background-color: burlywood;
        color: hotpink;
    }

    .sharp{
        grid-column: 7/8 ;
    }

    .hero{
        grid-column: 2/13;
    }

    #home-buttons{
        grid-row: 4/5;
        grid-column: 2/12;
        gap: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .button-main, .button-main:hover{
        margin: 5px 0 5px 0;
    }

    .button-main, .button-main:hover{
        margin: 5px 0 5px 0;
    }

    .thumbnail{
        grid-column: 2/11;
        grid-row: 2;
    }

    h1.hero-text{
        max-width: 100%;
        height: fit-content;
        font-family: 'Gothic A1', sans-serif;
        grid-column: 2/12;
        grid-row: 1/2;
        z-index: 100;
        grid-template-columns: minmax(min-content, 100%);
    }

    .main-text{
        grid-row: 3/4;
        position: relative;
        grid-column: 2/12;
        font-family: 'Courier Prime', monospace;
        font-size: .75rem;
        grid-template-columns: minmax(min-content, 300px);
        padding: 10px 0 10px 0;

    }


}

